@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700,500");
.clear {
  width: 100%;
  height: 0px;
  clear: both;
}

html {
  font-size: 16px;
  background-color: #E5E9EC;
}

body {
  color: #6f7b8a;
  background-color: #F2F6F7;
  background-color: #E5E9EC;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  color: #015876;
}

a:hover, a:active, a:focus {
  outline: 0;
  text-decoration: none;
}

small, strong {
  font-weight: 700;
}

h1 {
  font-size: 35px;
  color: #282323;
  font-weight: 300;
}
h1 small, h1 strong {
  color: #6f7b8a;
  font-weight: 700;
}

h2, h3, h4 {
  color: #282323;
  font-weight: 300;
}
h2 small, h2 strong, h3 small, h3 strong, h4 small, h4 strong {
  color: #6f7b8a;
  font-weight: 700;
}

h5, h6 {
  color: #6f7b8a;
  font-weight: 700;
}
h5 small, h5 strong, h6 small, h6 strong {
  color: #6f7b8a;
  font-weight: 700;
}

p {
  font-size: 14px;
  line-height: 150%;
  font-weight: 300;
}
p small, p strong {
  color: #6f7b8a;
  font-weight: 700;
}

.lead {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
}

blockquote small {
  color: #6f7b8a;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  box-shadow: none;
}

.btn:active, .btn:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-focus-ring-color: rgba(0, 0, 0, 0) !important;
  outline: none!important;
}

.btn {
  font-weight: 300;
  border-radius: 2px;
}

.btn:hover, .btn:active, .btn:focus {
  outline: 0;
}

.btn-circle {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  font-weight: 700;
  line-height: 100%;
}
.btn-circle i {
  font-weight: 700;
}

.btn-circle.btn-lg {
  width: 60px;
  height: 60px;
  border-radius: 35px;
}

.btn-shadow {
  -webkit-box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.42);
  -moz-box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.42);
  box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.42);
}

.btn-shadow:hover {
  -webkit-box-shadow: 4px 4px 3px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 4px 4px 3px 0px rgba(50, 50, 50, 0.4);
  box-shadow: 4px 4px 3px 0px rgba(50, 50, 50, 0.4);
}

.panel, .form-control, .tiles, .list-group, .alert, .well {
  border-radius: 2px;
}

.btn-default {
  border: 1px solid #6f7b8a;
  color: #4a4a4a;
}

.btn-default:hover {
  background-color: #6f7b8a;
  color: #fafafa;
  border-color: #6f7b8a;
}

.btn-primary {
  border: 1px solid #1ab394;
  background-color: #1ab394;
  color: #fafafa;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  border-color: #1aa185;
  background-color: #1aa185;
  color: #fafafa;
}

.btn-primary.disabled {
  border-color: #1aa185 !important;
  background-color: #1aa185 !important;
}

.btn-success {
  border: 1px solid #0090d9;
  background-color: #0090d9;
  color: #fafafa;
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
  background-color: #0082c3;
  color: #fafafa;
  border-color: #0082c3;
}

.btn-success.disabled {
  background-color: #0090d9;
  color: #fafafa;
  border-color: #0090d9;
}

.btn-info {
  background-color: #23c6c8;
  border-color: #23c6c8;
}

.btn-info:hover, .btn-info:active, .btn-info:focus {
  background-color: #20b2b4;
  border-color: #20b2b4;
}

.btn-info.disabled {
  background-color: #23c6c8;
  border-color: #23c6c8;
}

.btn-search {
  background-color: #4a4a4a;
  border-color: #4a4a4a;
  color: #fafafa;
}

.addon-search {
  padding: 0px;
  border: 1px solid #1b1e24;
}
.addon-search .btn {
  border: none;
  border-radius: 0px 2px 2px 0px;
  background-color: #4a4a4a;
  color: #fafafa;
}
.addon-search .btn:hover {
  background-color: #1b1e24;
  color: #fafafa;
  border-color: #1b1e24;
}

.list-group-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.list-group-item:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.panel-shadow {
  -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.4);
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.4);
}

.panel-shadow:hover {
  -webkit-box-shadow: 4px 4px 3px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 4px 4px 3px 0px rgba(50, 50, 50, 0.4);
  box-shadow: 4px 4px 3px 0px rgba(50, 50, 50, 0.4);
}

.panel-primary {
  border-color: #DDD;
}

.panel-heading {
  border-radius: 0px;
  background-color: #ecf0f2;
}

.panel-primary .panel-heading {
  background-color: #4a4a4a;
  border-color: #4a4a4a;
  color: #fafafa;
}

.panel-footer {
  background-color: #ecf0f2;
}

.panel-colored {
  color: #6f7b8a;
}

.panel-colored .panel-body {
  border-left: 15px solid;
  border-color: #6f7b8a;
  margin-bottom: -1px;
}

.panel-sidebar {
  width: 40px;
  height: 50px;
  margin-bottom: -20px;
  float: right;
  position: relative;
  top: 0px;
  right: 0px;
  text-align: center;
  cursor: move;
}
.panel-sidebar i {
  font-size: 30px;
  padding-top: 10px;
  cursor: pointer;
  cursor: move;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.panel-sidebar:hover i {
  opacity: 1;
  filter: alpha(opacity=100);
}

.table-bordered {
  border-color: #E8EDF1 !important;
}

.table-bordered th {
  background-color: #ecf0f2;
  background-color: #4a4a4a;
  border: 0px none !important;
  color: #fafafa;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: -moz-use-text-color;
  border-right-color: -moz-use-text-color;
  border-bottom-color: -moz-use-text-color;
  border-left-color: -moz-use-text-color;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image-source: none;
  border-image-slice: 100% 100% 100% 100%;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
}

.table td {
  border-top: 1px solid #E8EDF1;
  vertical-align: top;
  padding: 10px 12px !important;
  color: #576475;
  font-size: 13px;
}

.nav-pills > li > a {
  border-radius: 2px;
}

.alert {
  font-weight: 300;
}

.ui-pnotify-icon, .ui-pnotify-text, .ui-pnotify-title {
  color: #282323 !important;
}

.alert-success {
  background-color: rgba(106, 177, 130, 0.9);
  color: #2A5C21;
  border: none;
}

.page-header {
  padding-bottom: 0px;
  margin-bottom: 40px;
}
.page-header h1 {
  font-size: 35px;
  color: #22262e;
  font-weight: 300;
}

.well {
  background-color: #ecf0f2;
  border: 1px solid #E3E3E3;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.jumbotron {
  background-color: #ecf0f2;
  border: 1px solid #E3E3E3;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
  padding: 40px;
  color: #282323;
}
.jumbotron h1 {
  font-size: 400%;
  padding: 0px;
  margin: 0px;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

.bol {
  font-weight: 700;
  color: #6f7b8a;
}

.tiles-holder {
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

@media (max-width: 760px) {
  .tiles-holder {
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.tiles {
  margin-bottom: 20px;
  padding: 20px;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.4);
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.4);
}

.tiles.white {
  background-color: #FFF;
}

.breadcrumb {
  background-color: transparent;
}
.breadcrumb li {
  color: #6f7b8a !important;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}
.breadcrumb li a {
  color: #282323;
  font-weight: 400;
}

.breadcrumb > li + li:before {
  color: #5c5a5a;
  font-size: 18px;
  font-weight: 300;
  content: ">";
}

.box-holder-right {
  padding-right: 0px;
}

.box-title h4 {
  float: left;
  color: #6f7b8a;
  font-weight: 400;
  margin-top: -5px;
}

.tools {
  float: right;
  margin-top: -10px;
  margin-right: -10px;
}
.tools a {
  padding-left: 3px;
  padding-right: 3px;
  color: #6f7b8a;
  font-size: 16px;
}
.tools a:hover {
  color: #22262e;
}

.ui-pnotify {
  top: 80px !important;
}

.ui-pnotify-title {
  font-weight: 700;
}

.ui-pnotify-text {
  font-weight: 300;
}

.modal {
  background-color: rgba(55, 55, 53, 0.4);
}

.modal-content {
  border-radius: 2px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  z-index: 2;
  color: #FFF;
  cursor: default;
  background-color: #6f7b8a;
  border-color: #6f7b8a;
}

.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857;
  color: #6f7b8a;
  text-decoration: none;
  background-color: #FFF;
  border: 1px solid #6f7b8a;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
  color: #6f7b8a;
  cursor: not-allowed;
  background-color: #FFF;
  border-color: #6f7b8a;
}

.pagination > li > a:hover, .pagination > li > span:hover {
  color: #fff;
  background-color: #6f7b8a;
  border: 1px solid #6f7b8a;
}

.pager li a {
  color: #6f7b8a;
}

.pager li a:hover {
  color: #fff;
  background-color: #6f7b8a;
}
